# Bliss-Box 4-Play           - https://bliss-box.net
# Firmware v3.19             - https://bliss-box.net/downloads/

input_driver = "xinput"
input_device = "Bliss-Box 4-Play ATARI"
input_device_display_name = "4-Play P4 ATARI"

input_vendor_id = "5840"
input_product_id = "3335"

input_b_btn = "0"

input_b_btn_label = "Fire"

input_up_btn = "h0up"
input_down_btn = "h0down"
input_left_btn = "h0left"
input_right_btn = "h0right"

input_up_btn_label = "D-Pad Up"
input_down_btn_label = "D-Pad Down"
input_left_btn_label = "D-Pad Left"
input_right_btn_label = "D-Pad Right"